{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block content %}
    <p>Site Information</p>
{% if site_detail %}

    <ul>
        {% for s in site_detail %}
        <li>
            <a href="/site_infotest/{{ s.site_id }}/">
                {{ s.site_client}}
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
        <p>No Sites are available.</p>
{% endif %}
        {% if jj %}
        {% for j in jj %}
        <li>
            {{ j.site_id }}
        </li>
        {% endfor %}
        {% endif %}
        {% comment %}
    <a href="/employeetest/{{ e.employee_id }}/">
    <a href="{ % url 'detailed' e.employee_id %}">
        {% endcomment %}
{% endblock %}