{% extends 'base.html' %}
{% block body_block %}
    <body onload="initialize()">
{% endblock %}
{% load bootstrap_toolkit %}

# Using a filter

{% block content %}
<p>Update employee information.</p>
<form action="" method="post">{% csrf_token %}

    <p>Employee Information</p>
    {{ form0|as_bootstrap }}

    <p>Address Information</p>
    <div id="locationField">
        <input id="autocomplete" placeholder="Enter your address"
        onFocus="geolocate()" type="text"></input>
    </div>
    {{ form2|as_bootstrap }}
    {{ form1|as_bootstrap }}

    <p>Contact Information</p>
    {{ form3|as_bootstrap }}

<br />
<input type="submit" value="Submit" class="btn btn-primary" />
</form>

{% endblock %}